body {
  margin: 0;
  width: 100wh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ladoDireito {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100vh;
  justify-content: center;
  margin: auto;
}
label {
  width: 180px;
  text-align: right;
  display: block;
  float: left;
  
}
.itemForm {
  width: 400px;
  padding-bottom: 5px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fundo0{
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 350px;
  border: 2px solid black;
  border-radius: 20px;
}

.fundo1 {
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 350px;
  border: 2px solid black;
  background-image: url(/public/fundo_cracha_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.fundo2 {
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 350px;
  border: 2px solid black;
  background-image: url(/public/fundo_cracha_2.jpg);
  background-repeat: no-repeat;
  border-radius: 20px;
}

.fundo3 {
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 350px;
  border: 2px solid black;
  background-image: url(/public/fundo_cracha_3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  
}
.divCrachar{
  display: flex;
  flex-direction: row;
  height: 150px;

}
.ptSuperior {
  display: flex;
  position: relative;
  height: 20%;
  width: 100%;
  margin-top: 40px;

}
.ptMeio{
  padding: 10px;
  height: 33%;
  width: 100%;
}
.ptInferior {
  display: flex;
  position: relative;
  height: 33%;
  width: 100%;
  padding: 10px 0px;
}
.quadroNF {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  min-height: 50%;
  max-height: 80%;
  width: 90%;    
  position: absolute;
  top: 40%;
  left: 5%;
  transform: translateY(-50%);
  border-radius: 10px;
}
.quadroNF p{
  line-height: 100%;
  margin: 0%;
  padding: 0%;
  font-size: x-large;
}
.pMaior{
  font-size: x-large;
  font-weight: 900;
}
.corte {
  display: flex;
  position: absolute;
  background-color: white;
  width: 100px;
  height: 25px;
  top: -30px;
  transform: translate(68%);
  border-radius: 10px;
  border: 1px solid black;
}
.logomarca {
  width: 100%;
  align-items: center;
}